.modal-backdrop {display: none !important;}
div[data-height="250"][data-width="300"]  {display: none !important;}
a[href^="http"]:not([href*="18comic."]) > img  {display: none !important;}
#adsbox  {display: none !important;}
a[target="_blank"][rel*="nofollow"] > img[src*=".gif"]  {display: none !important;}
#guide-modal  {display: none !important;}
iframe[width="300"][height="250"]  {display: none !important;}
.bot-per.visible-xs.visible-sm {display: none !important;}
