#adsbox {display: none! important;}
.wrap + #midBox {display: none! important;}
.wrap + #btmBox {display: none! important;}
script[src="/static/base.js"] + #couplet {display: none! important;}
.search + #midBox {display: none! important;}
.mod.clearfix {display: none! important;}
dl#randomBox {display: none! important;}
dl#listwoBox ,body[ontouchstart] > #topBox, .wrap + #midBox, .wrap + #btmBox, .clearfix.col5.row > #listBox {display: none! important;}