/* 91porna.com */
.modal-backdrop,
#tip_modal,
.modal-backdrop,
#tip_modal,
.modal-backdrop,
.ad-dialog,
.text-mini:has(> .dx-recommend-icons),
a.checkNum[target="_blank"]:not([href*="91porna.com"]),
#app-nav > ul > li:has(> a.app-nav-item[target="_blank"]:not([href*="91porna.com"])),
div[class^="aspect-"]:has(> div > .swiper-backface-hidden),
.video-items > li:has(> a.checkNum),
.dx-banner-item,
.carousel-container-bottom,
.carousel-container:has(#carouselExampleInterval),
.row > div.flex-container:has(> a[href][target="_blank"] > img),
.row > div[class^="col"]:has(> .video-wrap > a.checkNum),
div[class^="col"] div.filters:has(a.checkNum),
.dx-banner-item,
.checkNum[target="_blank"]:not([href*="91porna.com"]),
.h-full.swiper,
.ad-dialog,
.modal-backdrop,
.modal-backdrop,
.ad-dialog,
.text-mini:has(> .dx-recommend-icons),
a.checkNum[target="_blank"]:not([href*="91porna.com"]),
#app-nav > ul > li:has(> a.app-nav-item[target="_blank"]:not([href*="91porna.com"])),
div[class^="aspect-"]:has(> div > .swiper-backface-hidden),
.video-items > li:has(> a.checkNum),
.dx-banner-item,
.carousel-container-bottom,
.carousel-container:has(#carouselExampleInterval),
.row > div.flex-container:has(> a[href][target="_blank"] > img),
.row > div[class^="col"]:has(> .video-wrap > a.checkNum),
div[class^="col"] div.filters:has(a.checkNum),
.dx-banner-item,
.checkNum[target="_blank"]:not([href*="91porna.com"]),
.h-full.swiper,
.ad-dialog,
.modal-backdrop
 {
    display: none !important;
    pointer-events: none !important;
    opacity: 0;
}
