/* 暂时性添加 11.30.2022  */
/* 
img,header,a[style*='image'] {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-filter: grayscale(1);
}
*/

/* {display: none !important;}
*/

/* Google Search*/
/* #tvcap,[data-text-ad] {display:none !important} */