#adsbox {display: none! important;}
.asg-overlay {display: none! important;}
span[class*=MuiSkeleton-root]{display: none! important;}
.jss16 {display: none! important;}
.MuiSkeleton-pulse.jss12.MuiSkeleton-rect.MuiSkeleton-root {display: none! important;}
[id*=KnvW]  {display: none! important;}
img[src*=".gif"] {display: none! important;}
iframe[data-width] {display: none! important;}