/* baidu.com */
#page_wrapper > div > .tgSGud4cOeqca,
.searchbox-exp > div[style="overflow: hidden;background: #fff;"],
#main > div[lgoinprompt="prompt"],
#search-appPromote,
#page-copyright > div[style^="position: fixed;"][ref],
.s-hotsearch-wrapper,
#con-ceiling-wrapper,
div[tpl="live_medical_san"],
td[align="left"] > div[id="con-ar"] > div.result-op[tpl="right-wz"],
.afd-ad,
a[class*="fengchaoContainer"],
.tieba-pause-ad-container,
#adCard,
#adMainTopLeft,
#adMainTopRight,
#adTitleRight,
#ad_xbox_1,
#ad_xbox_2,
#ad_xbox_3,
#aside-ad,
#asideLeft,
#asideRight,
#bdyx_float_rb,
#cms-company,
#cms-scroll,
#couplet-left,
#couplet-right,
#ec_im_container,
#fc-left,
#fengchao-dialog,
#fengchaoad,
#gamePromo,
#ggbtm,
#index_banner_top,
#index_right_float,
#index_right_top,
#j-ad-first,
#j-ad-side,
#knowledge-answer,
#left-promotion,
#qrcode-chunwan,
#relative_shop_flow,
#search-union-ad,
#search_bottomad,
#sning1,
#sning2,
#sning3,
#spage-top-banner,
#video_push_box,
#wgt-ad-right-fixed,
#wgt-left-promo,
.ad-block-1,
.ad-list,
.ad-platform-tips,
.ad-taishan,
.ad-vip-close,
.ad-vip-close-bottom,
.adLog,
.adTopImg,
.adver-one-item-wrapper,
.afd-item,
.aside-inner > div[style*="height:"],
.b2c-universal-card-product-item-wrapper,
.banner-cover,
.banner-wrapper-defensive,
.banner_center_adv2,
.bannerdown,
.bd-aside-ad,
.bds-list-ads,
.businessvip-wrapper,
.c-container.ec-container,
.c-result[data-tpl="adv_wenku_fc"],
.cbg-Ads,
.chunwan-wrapper,
.container:has( > .bottom-section > .item_voice_room[data-yysid]),
.container_frs:has( > .voice_room_card_frs[data-url*="yylive"]),
.content-adv,
.corneradv,
.cpc-adv-container,
.ec-ads-container,
.ec-fc-ad-results,
.ec-oad,
.ec_ad,
.ec_im_container,
.ec_pc_ad,
.ec_sma_im,
.ec_wise_ad,
.ecom_pingzhuan,
.ecomad-banner-loading,
.fc-ad-line,
.fc-wenku-ad,
.fengchao-wrap,
.fengchao-wrap-feed,
.game-adv-fram,
.gg-content,
.ggbtm-vip-close,
.hotad-list-box,
.img-adv-swap1,
.intro-adv,
.l-header-ad,
.lianmeng-pause,
.link-banner,
.manual-spread,
.na-ec-waterfall,
.nav_ads,
.optimus,
.pageLeftFixedAD,
.pauseadv,
.picad,
.qb-other-answer-wmad,
.quality-elinks,
.rec-feeditem,
.recommend-goods-card,
.rel-exp-feed-ad-item,
.result-op[tpl="b2b_prod"] > div > .c-border,
.result-op[tpl="game-page-right-openservice"],
.result-op[tpl="pc-education-fs"],
.result-op[tpl="sp_hot_sale"],
.result-op[tpl="vmp_strengthen_brand"],
.rightAd-skin,
.s-nativead-item,
.s-news-special[data-url^="http://vip.baidu.com/"],
.sam_iebrowser_banner,
.search-aside-adWrap,
.sf-wrap > .c-back + div[id]:last-child,
.sfc-image-content-ad-container,
.sfc-image-content-ad-xg-cell,
.sfc-image-content-adrecomm,
.sfc-image-content-adrootnew,
.sfc-image-content-adtext,
.sfc-image-content-waterfall-item > div:not([class]) > .sfc-image-content-cell,
.shield-agent-tb-feed,
.slide-bner-adv-ret,
.spage-couplet-container,
.spread-wrap,
.swan-ad-fc-feed,
.tb-threadlist__item.tb-banner,
.tc-card[tpl="fc_before_fixads"],
.text-advertise,
.text-link-ads,
.top-ad-cont,
.top-banner-ad-wrap,
.topBanner,
.under-tips,
.union-tg,
.v-s-tuiguang-wrap,
.w-question-list[data-sign],
.wapAd,
.wgt-ad-bmc,
.wgt-ad-exp-pic,
.wgt-ads,
.wgt-bottom-ask,
.wgt-bottom-union,
.wgt-union,
.yitiao-box,
div.thread_item_box[style="position: relative;"],
div[class$="-ecom-ads"],
div[class*="fc-"][tplid],
div[data-ad],
div[id^="toast"],
div[style="padding: 20px 9px 20px 10px;widget:250px;height:250px;"],
#content_right > div > div[id^="m"],
.opr-zhaopin-ad-ctn,
.result-op[tpl="pc-soft-accurate"] > div > .c-row,
.wa-zp-exact-new-border
 {
    display: none !important;
    pointer-events: none !important;
    opacity: 0;
}
