/* bi-girl.net */
#pc_text-10,
.toppage_av,
div[class^="ad_"],
.top_link,
.top_link_title,
.top_link_text_sp,
[style*="cursor:"][style*="user-select: none;"][style*="z-index:"],
[style*="cursor:"][style*="z-index:"][style*="transform"],
[style*="cursor:"][style*="z-index:"][style*="position: fixed;"],
body > #container + div[id][class*=" "],
[style*="cursor:"][style*="position: fixed;"][style*="z-index:"]
 {
    display: none !important;
    pointer-events: none !important;
    opacity: 0;
}
