/* Google 搜索广告 */

[data-text-ad] ,
#tvcap {display: none! important;}

/*
.xSQxL.HDOrGf,.HK0d3e,img,a{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}
*/