/* hltv.org */
.centered-placement,
csmoney-skins-widget,
.footer-app,
.gen-firstcol-box,
.hubspot-embed,
.kgN8P9bvyb2EqDJR,
.leftCol > aside > div.a-reset,
.logoCon > div.center-container,
.mid-container,
.mid-container > div[class]:has(> div.featured-matches-top-next-slider),
.mid-container + div[id]:has(> a[href] > img[alt][src]),
.world-ranking-banner
 {
    display: none !important;
    pointer-events: none !important;
    opacity: 0;
}
