/* hltv.org */
CybotCookiebotDialog { display: none !important; },
CybotCookiebotDialogBodyUnderlay { display: none !important; },
.hubspot-embed,
.footer-app,
.leftCol > aside > div.a-reset,
.mid-container > div[class]:has(> div.featured-matches-top-next-slider),
.logoCon > div.center-container,
.centered-placement,
.world-ranking-banner,
.mid-container + div[id]:has(> a[href] > img[alt][src]),
.gen-firstcol-box,
.kgN8P9bvyb2EqDJR,
.mid-container,
csmoney-skins-widget
 {
    display: none !important;
    pointer-events: none !important;
    opacity: 0;
}
