/*div[class*=-ad] {display:none !important;}*/
/*
.bottom-ad,.center-ad,.home-featured-ad {display:none !important;}
.home-ad {height: 1px !important;}
.video-boxad {display:none !important;}
.featuredad1, featuredad2 {display:none !important;}
.single-vad.container {display:none !important;}
*/
/*a[target*=_blank] {display:none !important;}*/

.poplayer, #preroll, .pop-wrap, .pop-main, .pop-html, .pop-skip {display:none !important;} /* 播放页广告去除 */
.home-img-box {margin: 0 !important;} 
.video-box-ad {display:none !important;}
.bottom-ad,.center-ad,.home-featured-ad {display:none !important;}
.home-ad {height: 1px !important;}
.video-boxad {display:none !important;}
.featuredad1, featuredad2 {display:none !important;}
.single-vad.container {display:none !important;}
/*a[target*="_blank"] {display:none !important;}*/