/* iyf.tv */
.guide_box,
vg-player div.vg-bg,
.video-player > .dabc > .ng-star-inserted[style="position: relative;"],
.video-player + div.ps > div:has(> div.bb),
.ss-ctn,
.video-player > div.ng-star-inserted > div#PB,
.video-player + div[class*=" "] > div.block,
.player-right,
vg-pause-ads,
.player-side > .block > *,
.video-player > app-gg-block.ng-star-inserted[style],
vg-player.ng-star-inserted > vg-pause-ads + div.caption.show > .inner
 {
    display: none !important;
    pointer-events: none !important;
    opacity: 0;
}
