center > div[style^="width:100%; height: 100px"],
center > div,
[href*=".zlinkm.com/"],
#poster,
#preroll,
.ui-sortable.col-md-4 > .panel-inverse.panel > .panel-heading,
.adsbyexoclick {display:none !important}