/* netflav.com */
.video_iframe_overlay_absolute_background_container,
.ads_video_overlay_mobile,
.ads_head_banner_container,
.ads_video_overlay_mobile
 {
    display: none !important;
    pointer-events: none !important;
    opacity: 0;
}
