div.myui-ra-container.container {display: none !important;}
img[importance*="low"]{display:none!important}
img[src*="210212"] {display:none!important}
div#aaaDiv2 {width: 0% !important;}
div#aaaDiv {width: 0% !important;}
iframe#zzzif {display: none !important;}
img[src*="210212"]{display: none !important;}
span#sponsorAdCountdown {display: none !important;}
div#sponsorAdDiv2 {display: none !important;}
div.hy-layout.clearfix {display: none !important;}
div[id*="ar"] span {display:none!important} 
div[id*="al"] span {display:none!important} 
a[href*=shop] {display:none!important} 
iframe[name*="main_iframe"] {display:none!important} 
div[style*="position: fixed"]{display:none!important} 