/* pornhub.com */
.cookiesBanner,
div[id^="age-verification"],
#ageVerificationOverlay,
.ml-subscribe-form,
.becomePartnerWrapper,
.premiumPromoBannerWrapper,
.share,
#shareModal,
#jsShare,
#shareButton,
.share-sites-thumbs,
.videoPremiumBlock,
#abAlert,
div:has(> ins.adsbytrafficjunky),
.bottomNav > a[rel="noopener nofollow"],
header .reportUrl:has(> a#headerUpgradePremiumBtn[target="_blank"]),
a[href^="https://weedmaps.com"],
#hd-rightColVideoPage > .clearfix:first-child,
.adWrapper,
.sectionWrapper > .videos[id] > li[class^="sniper"]:not(.videoblock):not(.videobox):not([id^="playlist_"]),
#main-container > .abovePlayer,
.realsex,
.video-wrapper > div#player~div[class$=" hd clear"],
.playerFlvContainer > div#pb_template[style],
.nonesuch,
#customSkin.backgroundImg,
#customSkinCTA,
#adBlockAlert,
#hd-rightColVideoPage div[id^="f"],
#hd-rightColVideoPage iframe,
.adContainer,
.ad_title + div,
.ad_title + iframe,
.browse-ad-container + div[style*="float:right"],
iframe[style*="height: 60px;"],
iframe[width="315"],
iframe[width="950"],
#pb_template,
#relatedVideosCenter > li[class^="related"],
#singleFeedSection > .emptyBlockSpace,
.js_promoItem,
.realsex,
.sniperModeEngaged,
[href*="base64"],
[href*="data:"],
[srcset*="bloB:"],
[style*="base64"],
[style*="blob:"]:not(video),
a[data-event="header_paid_tabs"],
a[href*="?ats="],
a[href^="http://ads.trafficjunky.net/"],
a[href^="https://ads.trafficjunky.net/"],
a[href^="https://www.uviu.com"],
div[onclick*="bp1.com"],
img[src*="blob:" i]:not(video),
img[srcset],
img[width="300"],
.sectionWrapper:has(> #bottomVideos > .wrapVideoBlock),
div[class="video-wrapper"] > .clear.hd:has(.adsbytrafficjunky)
 {
    display: none !important;
    pointer-events: none !important;
    opacity: 0;
}
