/* reddit.com */
#eu-cookie-policy,
shreddit-async-loader[bundlename="reddit_cookie_banner"],
div[style*="--Toaster-indicatorColor"],
shreddit-cookie-banner,
SHORTCUT_FOCUSABLE_DIV span > a[href$="/policies/cookie-notice"]:upward(section > div[style^="opacity"]),
#SHORTCUT_FOCUSABLE_DIV > div > div[class][aria-hidden] + div > div[class] > form,
div[id="2x-container"] div[tabindex] header[data-redditstyle] + div[aria-hidden="false"] + div[class] > form,
#SHORTCUT_FOCUSABLE_DIV > div > div:not([class]):not([id]):not([style]) > .hvdZkC,
#uapp-banner,
.EUCookieNotice,
.infobar-wrap,
div[class*="EUCookieNotice"],
.happening-now-wrap,
div[class^="subredditvars-"] > div[class^="_"] > div[class][style*="--Toaster-indicatorColor:"],
.mod-survey-intro,
[id^="xpromo-"],
nsfw-qr-dialog:contains(Scan this QR code to download the app now),
.mobile-web-redirect-bar,
shreddit-async-loader[bundlename="bottom_bar_xpromo"],
AppRouter-main-content > div[class] > div[class^="_"]:has(> div[class^="_"] > img[alt="QR Code to get the Reddit app"]),
span[data-part="get-app-btn"],
shreddit-async-loader[bundlename="feed_announcement"],
.content > section.newsletterbar,
.premium-banner-outer,
adblock-test { display: block !important; },
.ad-container:not(#style_important),
shreddit-comment-tree-ad,
.promotedlink:not([style^="height: 1px;"]),
div[data-before-content],
a[href^="https://PornGameFree.fun"],
.ii4q9d-0.fePAzF > div.s1g6rpxu-1,
div[id^="sidebar-btf"],
#ad_main_top,
#subreddit-right-rail__partial > aside > div.py-md > div.text-neutral-content-weak:has(> a[target="_blank"] > img),
.promotedlink:not([style^="height: 1px;"]),
[data-faceplate-tracking-context*="\"promoted\":true"],
div[data-before-content="advertisement"],
shreddit-comments-page-ad
 {
    display: none !important;
    pointer-events: none !important;
    opacity: 0;
}
