/* reuters.com */
p[data-testid="promo-box"],
div[class^="article-prompt__container__"],
div[class^="regular-article-layout-v2__newsletter_"],
div[class^="registration-prompt"],
div[class^="regular-article-layout__newsletter"],
div[class^="NewsletterCard__container___"],
section#hp-newsletters,
div[class^="NewsletterSignup-container-"],
[class^="GetTheAppBanner"],
div[class^="OldSiteBanner_"],
div[class^="RegistrationPrompt__container"],
div[data-testid="SharingSymbols"],
#toolbar-item-dropdown-share,
#toolbar-item-parent-share,
div[class^="article-header__share__"],
button[aria-label^="Share"],
ul[class^="ShareButtons__container___"],
div[class^="ArticleBody-read-time-and-social-"] > div[class^="SocialTools__container___"],
.BylineBar_share-container,
[class^="BylineBar_share-container"],
.core-share,
.reuters-share,
div[data-variant-id="workspace-banner"],
div[class^="leaderboard"],
div[class*="workspace-article-banner__banner-container__"],
div[style="flex-basis: 1200px; margin-bottom: 120px;"],
div[class^="StickyContainer-container-"][style^="height: 1200px;"][style*="margin-bottom: 120px;"],
#rcs-articleContent > .column1 > section + section:nth-last-child(3) > .group > .column2.col-5,
#rcs-articleContent > .column1 > .module-header:nth-last-child(2),
#rcs-articleContent > .column1 > .module-header:nth-last-child(2) + .module,
#bd_article,
#bd_article2,
#bd_article3,
div[class^="TwoColumnsLayout-leaderboard-"],
.StandardArticleBody_body + div[id][class] > div[class*=" "],
.StandardArticleBody_container + div > span ~ div,
body > div > div[class$=" "][style^="width: 100%; border: none;"],
body > div > div[class$=" "][style^="width: 100%; border: none;"] + #spacerElement[style^="height:"],
.TwoColumnLayout_container > .TwoColumnLayout_column + div[id] > div:not([class]):not([id]) + div[class$=" "]:last-child,
.TwoColumnLayout_container > .TwoColumnLayout_column > .StandardArticleBody_container > .StandardArticleBody_body + div:not([class]):not([id]) + div[class$=" "],
.TwoColumnLayout_container > .TwoColumnLayout_column > .StandardArticleBody_container > .StandardArticleBody_body + div:not([class]):not([id]) + div[id] > div[class$=" "] ~ *,
.workspace-article-banner-module__image__F14iP,
[data-testid="CnxPlayer"],
[data-testid="Leaderboard"],
[data-testid="ResponsiveAdSlot"]
 {
    display: none !important;
    pointer-events: none !important;
    opacity: 0;
}
