/* rou.video */
.grid > div[class^="col-span"]:has(> div[class] > ins),
.grid > div[class^="col-span"]:has(> div[class] > div[id^="ts_ad_native"])
 {
    display: none !important;
    pointer-events: none !important;
    opacity: 0;
}
