/* techcrunch.com */
#consent-gpc-popUp,
body div[data-testid="text-html"]:has(> div.showTemplate > div.pn-ribbon),
.rightrail--promo,
.piano-ribbon-container iframe[id^="offer_"],
.announcement-banner[style="position: fixed;"],
.surveymonkey-popup,
.wp-block-group:has(> .newsletter-header),
.hbspt-form,
div[class*="-newsletter-signup-compact"],
.newsletter-signup-block,
.newsletters-signup,
.wp-block-techcrunch-inline-cta,
.rightrail-promo,
.upcoming-events,
.post-block + a[href="/events/tc-early-stage-2023/"],
.wp-block-techcrunch-social-share,
.article__social-vertical-share,
.article__social-share,
.marfeel-experience-event-cta,
div[class*="ad-unit"]
 {
    display: none !important;
    pointer-events: none !important;
    opacity: 0;
}
