/* ted.com */
aside[class^="css-"] > div[class^="pt-6"] > div > div.hidden,
.share,
div[class=" p-r:1 p-y:1 d:f a-i:c "],
button.sb[data-service-name="facebook"],
button.sb[data-service-name="linkedin"],
button.sb[data-service-name="twitter"],
#banner-container
 {
    display: none !important;
    pointer-events: none !important;
    opacity: 0;
}
