/* thehackernews.com */
#ouibounce-modal,
.articlebody > div.cf.note-b:has(> a[href="https://twitter.com/thehackersnews"]),
.sub-button,
#email-outer,
body > .deals > .deal-box,
#mobile-share,
.float-share,
.sharebelow,
.banners,
body > section.rockstar:has(> center > a[href="https://thehackernews.uk/wiz-demo-d"]),
.dig_two,
a.custom-link[rel*="sponsored"],
section.box-side:has(> div[class] > a[target="_blank"]),
.blog-posts > .body-post:has(> a[target="_blank"]),
body > [class]:has(> a[href][target="_blank"]),
body > [class^="p"]:has(> center > script),
body > [class]:has(> center a[href][target="_blank"]),
:is(aside, section, [id*="-"], [class*="right"], [class*="side"]) a[target="_blank"] > img,
:is(aside, section, [id*="-"], [class*="right"], [class*="side"]) a > img[target="_blank"],
:is(aside, section, [id*="-"], [class*="right"], [class*="side"]):has(> div[class] + script),
center > a:is([rel^="nofollow"], [target^="_blank"]) > img,
#articlebody > div[class]:has(> center > a:is([rel^="nofollow"], [target^="_blank"]) > img),
.ad_two,
.right-box > .zoho-box,
.sidewalaad,
.deal-store,
.dog_two,
.av-side-box,
body > .google.cf,
.custom-link,
.dog_two,
.okfix,
div.rocking
 {
    display: none !important;
    pointer-events: none !important;
    opacity: 0;
}
