/* theverge.com */
onetrust-consent-sdk,
body:not([style*="overflow: hidden;"]) div#zephr-footer-container,
#zephr-anchor > .duet--article--block-placement:has(> div[class] > a.duet--cta--button),
.duet--layout--rail > div[class]:has(> div > form > div.duet--cta--newsletter),
iframe[src="https://www.platformer.news/embed"],
.duet--cta--newsletter,
.l-sidebar-fixed > div[data-analytics-placement],
.c-newsletter_signup_box,
.newsletter-wrapper,
.content-start > div.uppercase,
.duet--article--share-buttons,
.duet--article--lede-share-tools-separator,
.tab-bar-fixed,
.c-social-buttons__more,
.article__share-buttons,
.feature-photos-share-tool,
div[class^="adblock-allowlist-messaging"],
.duet--layout--rail > div[class]:has(> div[class] > div[data-concert]),
div[class]:has(> div[data-concert]),
amp-iframe[src^="https://widgets.outbrain.com/hub/amp.html"],
.connatix-feature-desktop,
.m-ad__btf_leaderboard_variable,
div[data-concert]
 {
    display: none !important;
    pointer-events: none !important;
    opacity: 0;
}
