/* xvideos.com */
#cookies-use-alert,
body > div[style*="background: rgb"][style*="text-align: center"],
body > div[style^="display: flex; background: rgb"],
#content > div.mobile-hide + div[class]:not([id*="video"]),
.share,
tabShareAndEmbed > h4:has(> span.icf-share),
.top-top,
#ad-footer,
#video-right,
#video-sponsor-links,
.player-video.xv-cams-block,
.thumb-ad,
.video-ad,
[href*="base64"],
[href*="data:"],
img[src*="blob:" i]:not(video)
 {
    display: none !important;
    pointer-events: none !important;
    opacity: 0;
}
