div.stui-pannel_hd {display: none! important;}
#md112,#yb112,#ad01  {display: none! important;}
.marquee_outer {display: none! important;}
a[target="_blank"] {display: none! important;}
iframe{display: none! important;}