
"whatthefuck.wtf"
];

for (l = 0; l < webList.length; l++) {
var webSelectors = "[href*='" + webList[l] + "']";

var google_cssSelectors = ["[data-sokoban-grid],[class][data-hveid],[data-hveid]>[class]"];
var google_contentFarm = document.querySelectorAll( google_cssSelectors );
var i;

for (i=0; i< google_contentFarm.length; i++){
if (google_contentFarm[i].querySelectorAll( webSelectors ).length  > 0) {
google_contentFarm[i].style.display = "none";
}
}

}